<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="icu.sunnyc.demo.mapper.db1.StudentMapper">
    
    <select id="getStudentById" resultType="icu.sunnyc.demo.entity.Student">
        select *
        from student s
        where s.id = #{id}
    </select>

</mapper>